<!-- <p>hero-section works!</p> -->
<!-- <section class="hero">
    <div class="hero-content">
        <h1 class="headline">Connect. Chat. Create.</h1>
        <p class="tagline">Dive into vibrant communities, engage in real-time chats, and build connections that matter.
        </p>
    </div>
</section> -->


<section class="hero">
    <div class="hero-content">
        <h1 class="headline" [@textReveal]="'in'">Connect. Chat. Create.</h1>
        <p class="tagline" [@fadeIn]="'in'">
            Dive into vibrant communities, engage in real-time chats, and build connections that matter.
        </p>
    </div>
</section>