<!-- <p>features-overview works!</p> -->
<!-- <section class="features">
    <h2>Core Features</h2>
    <div class="feature-grid">
        <app-feature-card *ngFor="let feature of features" [feature]="feature"></app-feature-card>
    </div>
</section> -->

<section class="features">
    <div class="features-header">
        <h2>What You Can Do</h2>
        <p>Explore the powerful features that make our community platform unique.</p>
    </div>

    <div class="features-grid">
        <app-feature-card *ngFor="let feature of features" [icon]="feature.icon" [title]="feature.title"
            [description]="feature.description"></app-feature-card>
    </div>
</section>